@model UchetSI.ViewModels.TOViewModel
<style>
    .td {
        font-size: 12px;
    }
    .td-textarea{
        padding:0;
    }

    table th {
        vertical-align: middle;
        text-align: center;
        font-size: 13px;
        padding: 5px 2px 5px 2px
    }

</style>

<div class="table-box table-parent" style="width:100%;">
    <table class="table-chaild table table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Наименование<br /> средства измерений/<br /> средства автоматизации</th>
                <th>Контролируемый параметр,<br /> место установки</th>
                <th>Позиция</th>
                <th>Марка, тип</th>
                <th>Серийный <br /> номер</th>
                <th>Шкала<br />  Характеристика<br /> Тип сигнала</th>
                <th>Вид ТО</th>
                <th>Состояние <br /> оборудования</th>
                <th>Примечание</th>
                <th>Дата <br />последнеый <br />поверки</th>
                <th>Дата <br />следующей<br /> поверки</th>
                <th>Год <br /> выпуска <br />оборудования</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var TOPVM in Model.TOPVMs)
            {
               @await Html.PartialAsync("TOPosition", TOPVM) 
            };
@*
            @for (int i = 0; i < 3; i++)
            {
                <tr id="str @i">
                    <th class="td">Задвижка электрическая</th>
                    <th class="td">Регулятор пара на выходе котла №1</th>
                    <th class="td">01-1М</th>
                    <th class="td" style="font-size:12px;">ПЭМ-Б2м</th>
                    <th class="td" style="font-size:12px;">415С0028</th>
                    <th class="td" style="font-size:12px;">DI, 380V</th>
                    <th class="td" style="font-size:12px;">ТО-1</th>
                    <th class="td" style="font-size:12px;">
                        <select class="form-select">
                            <option>Исправно</option>
                            <option>Неисправно</option>
                        </select>
                    </th>
                    <th class="td td-textarea">
                        <textarea></textarea>
                    </th>
                    <th class="td" style="font-size:12px;">
                        <input style="padding:0;" class="form-control" type="date" />
                    </th>
                    <th class="td" style="font-size:12px;">
                        <input  style="padding:0;" class="form-control" type="date" />
                    </th>
                    <th class="td" style="font-size:12px;">2015</th>
                    <th>
                        <input class="btn btn-primary" type="button" value="Внести" />
                    </th>
                </tr>
            }*@


        </tbody>
    </table>
    @*
        @section script{
        <script type="text/javascript">
        var tds = document.querySelectorAll('.td');

        for (var i = 0; i < tds.length; i++) {
        tds[i].addEventListener('click', function func() {
        var input = document.createElement('input');
        input.value = this.innerHTML;
        this.innerHTML = '';
        this.appendChild(input);

        var td = this;
        input.addEventListener('blur', function() {
        td.innerHTML = this.value;
        td.addEventListener('click', func);
        });

        this.removeEventListener('click', func);
        });
        }
        </script>
        }*@
