@model UchetSI.ViewModels.TOPositionViewModel

                <th class="td">Задвижка электрическая</th>
                <th class="td">Регулятор пара на выходе котла №1</th>
                <th class="td">01-1М</th>
                <th class="td" style="font-size:12px;">ПЭМ-Б2м</th>
                <th class="td" style="font-size:12px;">415С0028</th>
                <th class="td" style="font-size:12px;">DI, 380V</th>
                <th class="td" style="font-size:12px;">ТО-1</th>
                <th class="td" style="font-size:12px;">
                    <select class="form-select">
                        <option>Исправно</option>
                        <option>Неисправно</option>
                    </select>
                </th>
                <th class="td">
                    <textarea></textarea>
                </th>
                <th class="td" style="font-size:12px;">
                    <input type="date" />
                </th>
                <th class="td" style="font-size:12px;">
                     <input type="date" />
                </th>
                <th class="td" style="font-size:12px;">2015</th>
                 <th>
                     <input class="btn btn-primary" type="button" value="Внести" />
                 </th>
