@model UchetSI.Data.Models.Position

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Добавление позиции</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label>Наименование</label>
            <input asp-for="NamePosition" />
            <span asp-validation-for="NamePosition" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Вхождение в паз</label>
            <select>
                <option value="1">Да</option>
                <option value="0">Нет</option>
             </select>
        </div>
        <div class="mb-3">
            <label>Контролируемый параметр</label>
            <input asp-for="NameParameter" />
            <span asp-validation-for="NameParameter" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Добавить</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:180px">Назад</a>
    </div>
</form>